<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_IBuzzService" />
                <binding name="BasicHttpBinding_ITokenService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:81/Core/User/UserService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="UserService.IUserService" name="BasicHttpBinding_IUserService" />
            <endpoint address="http://127.0.0.1:81/Core/Buzz/BuzzService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBuzzService"
                contract="BuzzService.IBuzzService" name="BasicHttpBinding_IBuzzService" />
            <endpoint address="http://127.0.0.1:81/Core/Token/TokenService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITokenService"
                contract="TokenService.ITokenService" name="BasicHttpBinding_ITokenService" />
        </client>
    </system.serviceModel>
</configuration>